<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Student List</title>
</head>
<body>
    <div class="wrapper">
        <h1>Students</h1>
        <form action="/newstudent" method="POST">
            <input type="text" placeholder="New Student" name="name">
            <button type="submit">Submit</button>
        </form>
    
        <div class="student-names">
            <% for (let i = 0; i < students.length; i++){ %>
            <div class="single-student">
                <p><%= students[i].name %></p>
            </div>
            <% } %>
        </div>    
    </div>
</body>
</html>